<!--banner-->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1523496922380-91d5afba98a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80);">
    <div class="logo">
      <div>
        <h3>N˚1</h3>
        <h1>Yacht Sqaure</h1>
      </div>
    </div>
  </div>

<h1>Header one </h1>


<!--link-->
<a href="#" class="yacht-link">ALL </a>

<!--button-->
<a href="#" class="btn-yours">MY BUTTON</a>

<!--card-->

<div class="container">
  <div class="wrapper">
    <div class="row">
      <%  %>
       <div class="col-xs-12  col-md-4 col-sm-6 ">
          <div class="info">
        <div class="card"><%= image_tag"https://images.unsplash.com/photo-1525092703556-f2d561118425?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60", alt: "Le Wagon", width: 200 %>


         <div class="card-body">
              <h2> Yacht name</h2>
              <h3>From$103 / night</h3>
           <a href="#" class="btn-card">Details</a>
         </div>
          </div>
        </div>
      </div>
    <% %>
    </div>
  </div>
</div>
