


<!--banner-->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1523496922380-91d5afba98a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80);">
    <div class="logo">
      <div>
        <h3>N˚1</h3>
        <h1>Yacht Sqaure</h1>
      </div>
    </div>

  </div>


<h1>Header one </h1>


<a href="#" class="yacht-link">ALL </a>

<a href="#" class="btn-yours">MY BUTTON</a>



<div class="container-fluid">
  <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
    <figure>
      <div class="media" style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_15.png);"></div>
      <figcaption>
        <svg viewBox="0 0 200 200" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <mask id="mask" x="0" y="0" width="100%" height="100%">
              <rect id="alpha" x="0" y="0" width="100%" height="100%"></rect>
              <text class="title" dx="50%" dy="2.5em">ENJOY</text>
            </mask>
          </defs>
          <rect id="base" x="0" y="0" width="100%" height="100%"></rect>
        </svg>
        <div class="body">
          <p>Enamel pin selvage health goth edison bulb, venmo glossier tattooed hella butcher cred iPhone.</p>
        </div>
      </figcaption><a href="#"></a>
    </figure>
  </div>
<!--link-->
<a href="#" class="yacht-link">ALL </a>
<!--button-->
<a href="#" class="btn-yours">MY BUTTON</a>

<!--card-->

<div class="container">
  <div class="wrapper">
    <div class="row">
      <%  %>
       <div class="col-xs-12  col-md-4 col-sm-6 ">
          <div class="info">
        <div class="card"><%= image_tag"https://images.unsplash.com/photo-1525092703556-f2d561118425?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60", alt: "Le Wagon", width: 200 %>


         <div class="card-body">
              <h2> Yacht name</h2>
              <h3>From$103 / night</h3>
           <a href="#" class="btn-card">Details</a>
         </div>
          </div>
        </div>
      </div>
    <% %>
    </div>
  </div>
</div>


