<h1>Header one </h1>

<a href="#" class="yacht-link">ALL </a>
<div class="video-banner" >

  <div class="video" autoplay="1" loop="1" muted="" playsinline="" >
    <div class="video-overlay">
      <iframe  frameborder="0" src="https://player.vimeo.com/external/267608951.hd.mp4?s=6946590bf3cf7c08598c9652f7c0fad2d02160c9&amp;profile_id=175" frameborder="0" allowfullscreen> </iframe>
    </div>
    <div class="logo">
      <div>
        <h3>N˚1</h3>
        <h1>Yacht Sqaure</h1>
      </div>
    </div>
  </div>
</div>

