input.btn.btn-yours, .btn-yours {
  display: inline-block;
  color:  #CA9E6A;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-width: 3px;
  &:hover {
    border-color: rgba(0,0,0,0.5);
    text-decoration: none;
    border: 1px solid #CBA06A;
    color:black;
    opacity: 0.3;

  }
  input.btn.btn-yours.button-center {
    margin: 0 auto;
  }
}

