.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}




.logo{

 border: 2px solid #CBA06A;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  width: 800px;
  margin-left: 14px;
  margin-top: -200px;

h3 {
font-family: Josefin Sans;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 24px;
text-align: center;
letter-spacing: 0.02em;
color: #CBA06A;
}
h1 {

font-family: Josefin Sans;
font-style: normal;
font-weight: 100;
line-height: normal;
font-size: 72px;
text-align: center;
letter-spacing: 0.08em;

color: #BEA261;
}

}


@media all and (min-width: 480px) and (max-width: 767px) {
  .logo{

    border: 2px solid #CBA06A;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    width: 400px;
    height: 100px;
    margin-left: 14px;
    margin-top: -97px;
    padding-bottom: 28px;


    h3 {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 1px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #CBA06A;

    }
    h1 {

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-size: 42px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #BEA261;
    }
  }
}

.button-discover {
  font-family: Josefin Sans;
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 40px;
  margin: 30px;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  transition: .3s;
  padding: 20px;
  border: 2px solid transparent;
  text-decoration: none;
  color: white;
  &:hover {
    border: 2px solid white;
    text-decoration: none;
    color: white;
  }
  .text {
    padding-top: 10px;
    text-decoration: none;
    color: white;

  }
}

