
.background-form {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1504370962076-2292743c515e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60")
  fixed no-repeat;
  background-size: cover;
}
.background-form-signup{
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1504370962076-2292743c515e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60")
  fixed no-repeat;
  background-size: cover;
}
.logging-in{
      position: relative;
}
#container {
  width: 350px;
  height: 500px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
}
#container:before {
  width: 400px;
  height: 550px;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
  filter: blur(10px);

}


.form-inputs{
  padding-bottom: 20px;
  width:200px;
  border-color: grey;



}
.form-inputs :hover{
 border-color: #CBA06A;

}

.text-center a {
  position:relative;
  text-decoration:none !important;
  color:white;
}

.formform {
  .form-control {
    border: 0px solid transparent;
    background-color: transparent;
    box-shadow: 0px 0.1px 0rem rgba(203, 160, 106, 0.8);
    border-bottom: 1px solid  rgba(203, 160, 106, 0.7);
    border-top: 1px solid rgba(203, 160, 106, 0.7) !important;
    border-radius: 0px;

    &:focus {
    box-shadow: 0px 0.1px 0rem rgba(203, 160, 106, 0.8);
    border-bottom: 1px solid  #CBA06A;
    border-top: 1px solid #CBA06A;
    border-radius: 0px;
    }
  }
  label {
    margin-bottom: 16px;
      color:black;
      opacity:0.4;

  }
  .form-inputs {
    margin-top: 20px;
  }
  .form-actions {
    text-align: center;
    margin: 0 auto;
  }
  h2{
    color:black;
    opacity:0.6;
  }
}


.formbooking {
  padding-right:10px;
  .form-control {
    border: 0px solid transparent;
    background-color: transparent;
    box-shadow: 0px 0.1px 0rem rgba(203, 160, 106, 0.8);
    border-bottom: 1px solid  rgba(203, 160, 106, 0.7);
    border-top: 1px solid rgba(203, 160, 106, 0.7) !important;
    border-radius: 0px;

    &:focus {
    box-shadow: 0px 0.1px 0rem rgba(203, 160, 106, 0.8);
    border-bottom: 1px solid  #CBA06A;
    border-top: 1px solid #CBA06A;
    border-radius: 0px;
    }
  }
  label {
    margin-bottom: 16px;
      color:black;
      opacity:0.4;

  }
  .form-inputs {
    margin-top: 20px;
  }
  .form-actions {
    text-align: center;
    margin: 0 auto;
  }
  h2{
    color:black;
    opacity:0.6;
  }
}


.background-form-booking{
  height: 50vh;
  width:50vw;
  background:linear-gradient(-225deg, rgba(225,225,225,0.3) 0%, rgba(225,225,225,0.5) 10%), url("https://images.unsplash.com/photo-1504370962076-2292743c515e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60")
  fixed no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;


}

.formbooking {
  position: relative;
}

#container-form{
  width: 300px;
  height: 420px;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.form-inputs-booking{
    margin: 118px;
}

#container-form:before {
  width: 300px;
  height: 420px;
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255, 0.2);
  -webkit-filter: blur(10px);
  filter: blur(10px);
  border-radius: 8px;
  z-index: -10;

}
