.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.flatpickr-calendar.open{
      display: inline-block;
    z-index: 1000 !important;
}

.flatpickr-day.today {
    border-color: #CA9E6A !important;
}



