.yacht-header-design {
  // position: absolute;

  width: 349px;
  height: 47px;
  left: 0px;
  top: 970px;
  font-family: Oswald;
  font-weight: 200;
  line-height: 47px;
  font-size: 37px;
  text-align: center;
  letter-spacing: 0.16em;
  text-indent: 5px;
  padding-left:0;

  color: #DEDEDE;

  transform: rotate(-90deg);
}

.yacht-header-longline {
  position: absolute;
  width: 191px;
  height: 0px;
  left: 418px;
  top: 616px;

  border: 1px solid #DEDEDE;
  transform: rotate(-90deg);
}

.yacht-header-shortline {
  position: absolute;
  width: 10px;
  height: 0px;
  left: 413px;
  top: 628px;
  border: 1px solid #DEDEDE;
}

.cards-wrapper {
  position: relative;
  h1 {
    top: 100px;
    left: 60px;
  }
}


