.yacht-header-design {
  position: absolute;

  width: 349px;
  height: 47px;
  left: 1000px;
  top: 970px;
  font-family: Oswald;
  font-weight: 300;
  line-height: 57px;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.30em;
  text-indent: 5px;
  padding-left:-90px;
  color: #DEDEDE;
  transform: rotate(-90deg);
  strong{
  font-size: 52px;
  font-weight: 500px;
  color:grey;
  opacity: 0.5;
  width: 349px;
  letter-spacing: 0.1em;

}
}

.yacht-header-longline {
  position: absolute;
  width: 191px;
  height: 0px;
  left: 418px;
  top: 616px;
  border: 1px solid #DEDEDE;
  transform: rotate(-90deg);
}

.yacht-header-shortline {
  position: absolute;
  width: 11px;
  height: 0px;
  left: 213px;
  top: 328px;
  border: 1px solid #DEDEDE;
}

.cards-wrapper {
  position: relative;
  h1 {
       top: 164px;
    left: 8px;

  }
}


